<div *ngIf="orders$">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" i18n="@@e-shop.admin-orders.table.header.user">User</th>
        <th scope="col" i18n="@@e-shop.admin-orders.table.header.date">Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let order of orders$
            | async
            | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize;
          index as i
        "
      >
        <td>{{ (page - 1) * pageSize + i + 1 }}</td>
        <td>{{ order.user.name }}</td>
        <td i18n="@@e-shop.admin-orders.table.body-date">
          {{ order.dateOrder | date: "dd/MM/yyyy - HH:mm" }}
        </td>
        <td>
          <a
            [routerLink]="['/order-success/', order.id]"
            i18n="@@e-shop.admin-orders.table.body-view"
            >View</a
          >
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="(orders$ | async)?.length"
    ></ngb-pagination>

    <select
      class="custom-select"
      style="width: auto"
      name="pageSize"
      [(ngModel)]="pageSize"
    >
      <option
        *ngFor="let items of itemsPerPage"
        [value]="items"
        i18n="@@e-shop.admin-orders.items-per-page"
      >
        {{ items }} items per page
      </option>
    </select>
  </div>
</div>
