<h3>Shopping cart</h3>

<div *ngIf="cart$ | async as cart">
  <p>
    You have {{ cart.quantity }} products in the cart.
    <button
      *ngIf="cart.quantity > 0"
      class="btn btn-sm btn-light"
      (click)="clearShoppingCart()"
    >
      Clear shopping cart
    </button>
  </p>

  <div *ngIf="cart.quantity > 0">
    <table class="table table-striped" *ngIf="cart.products">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Product</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cartProduct of cart.products">
          <td>
            <div
              [style.backgroundImage]="
                'url(' + cartProduct.product.pictureUrl + ')'
              "
              class="thumbnail"
            ></div>
          </td>
          <td>{{ cartProduct.product.name }}</td>
          <td>
            <app-product-quantity
              [product]="cartProduct.product"
              [quantity]="cartProduct.quantity"
            ></app-product-quantity>
          </td>
          <td>{{ cartProduct.price | currency: "EUR" }}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>{{ cart.price | currency: "EUR" }}</td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-primary" [routerLink]="['/check-out']">
      Check out
    </button>
  </div>
</div>
