<nav
  class="navbar navbar-light bg-light mb-3 justify-content-between navbar-expand"
>
  <a class="navbar-brand" [routerLink]="['/']" role="button">
    <fa-icon icon="store-alt"></fa-icon>
  </a>

  <div>
    <ul ngbNav class="navbar-nav mr-auto">
      <li ngbNavItem class="d-flex align-items-center mr-3">
        <a ngbNavLink [routerLink]="['/shopping-cart']">
          <fa-icon icon="shopping-cart"></fa-icon>
          <span
            class="badge badge-pill badge-primary"
            *ngIf="cart$ | async as cart"
            >{{ cart.quantity }}</span
          >
        </a>
      </li>
      <li
        *ngIf="user$ | async as user; else anonymousUser"
        ngbNavItem
        ngbDropdown
      >
        <button class="btn" id="userDropdown" ngbDropdownToggle>
          {{ user.name }}
        </button>
        <div
          ngbDropdownMenu
          class="dropdown-menu-right"
          aria-labelledby="userDropdown"
        >
          <button
            ngbDropdownItem
            [routerLink]="['/my-orders']"
            i18n="@@e-shop.navbar.my-orders"
          >
            My orders
          </button>
          <ng-container *ngIf="user.isAdmin">
            <button
              ngbDropdownItem
              [routerLink]="['/admin/orders']"
              i18n="@@e-shop.navbar.manage-orders"
            >
              Manage orders
            </button>
            <button
              ngbDropdownItem
              [routerLink]="['/admin/products']"
              i18n="@@e-shop.navbar.manage-products"
            >
              Manage products
            </button>
          </ng-container>
          <button
            ngbDropdownItem
            (click)="logout()"
            i18n="@@e-shop.navbar.logout"
          >
            Logout
          </button>
        </div>
      </li>
      <ng-template #anonymousUser>
        <li ngbNavItem>
          <a ngbNavLink [routerLink]="['/login']" i18n="@@e-shop.navbar.login"
            >Login</a
          >
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
