<h3>Shipping</h3>

<div class="row">
  <div class="col">
    <form *ngIf="formShipping" [formGroup]="formShipping">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          id="name"
          class="form-control"
          type="text"
          formControlName="name"
          [class.is-invalid]="
            formShipping.get('name').touched && formShipping.get('name').invalid
          "
        />
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input
          id="address"
          class="form-control"
          type="text"
          formControlName="address"
          [class.is-invalid]="
            formShipping.get('address').touched &&
            formShipping.get('address').invalid
          "
        />
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input
          id="city"
          class="form-control"
          type="text"
          formControlName="city"
          [class.is-invalid]="
            formShipping.get('city').touched && formShipping.get('city').invalid
          "
        />
      </div>

      <div class="form-group">
        <label for="zipCode">Zip code</label>
        <input
          id="zipCode"
          class="form-control"
          type="text"
          formControlName="zipCode"
          [class.is-invalid]="
            formShipping.get('zipCode').touched &&
            formShipping.get('zipCode').invalid
          "
        />
      </div>

      <div class="form-group">
        <label for="country">Country</label>
        <input
          id="country"
          class="form-control"
          type="text"
          formControlName="country"
          [class.is-invalid]="
            formShipping.get('country').touched &&
            formShipping.get('country').invalid
          "
        />
      </div>
    </form>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Order summary</h5>
        <p class="card-text"></p>
        <p>You have {{ cartQuantity }} products in the cart.</p>

        <table class="table">
          <tbody>
            <tr *ngFor="let cartProduct of cartProducts">
              <td>
                {{ cartProduct.quantity }} x {{ cartProduct.product.name }}
              </td>
              <td>
                <span class="float-right">{{
                  getTotalProductPrice(cartProduct) | currency: "EUR"
                }}</span>
              </td>
            </tr>
            <tr class="font-weight-bold">
              <td>Total</td>
              <td>
                <span class="float-right">{{
                  totalProductsPrice | currency: "EUR"
                }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<button
  class="btn btn-primary"
  (click)="placeOrder()"
  [disabled]="formShipping.invalid"
>
  Place order
</button>
