<h3 i18n="@@e-shop.check-out.shipping">Shipping</h3>

<div class="row">
  <div class="col">
    <form *ngIf="formShipping" [formGroup]="formShipping">
      <div class="form-group">
        <label for="name" i18n="@@e-shop.check-out.form.name">Name</label>
        <input
          id="name"
          class="form-control"
          type="text"
          formControlName="name"
          [class.is-invalid]="
            formShipping.get('name').touched && formShipping.get('name').invalid
          "
        />
      </div>

      <div class="form-group">
        <label for="address" i18n="@@e-shop.check-out.form.address"
          >Address</label
        >
        <input
          id="address"
          class="form-control"
          type="text"
          formControlName="address"
          [class.is-invalid]="
            formShipping.get('address').touched &&
            formShipping.get('address').invalid
          "
        />
      </div>

      <div class="form-group">
        <label for="city" i18n="@@e-shop.check-out.form.city">City</label>
        <input
          id="city"
          class="form-control"
          type="text"
          formControlName="city"
          [class.is-invalid]="
            formShipping.get('city').touched && formShipping.get('city').invalid
          "
        />
      </div>

      <div class="form-group">
        <label for="zipCode" i18n="@@e-shop.check-out.form.zip-code"
          >Zip code</label
        >
        <input
          id="zipCode"
          class="form-control"
          type="text"
          formControlName="zipCode"
          [class.is-invalid]="
            formShipping.get('zipCode').touched &&
            formShipping.get('zipCode').invalid
          "
        />
      </div>

      <div class="form-group">
        <label for="country" i18n="@@e-shop.check-out.form.country"
          >Country</label
        >
        <input
          id="country"
          class="form-control"
          type="text"
          formControlName="country"
          [class.is-invalid]="
            formShipping.get('country').touched &&
            formShipping.get('country').invalid
          "
        />
      </div>
    </form>
  </div>
  <div class="col">
    <div class="card" *ngIf="cart">
      <div class="card-body">
        <h5 class="card-title" i18n="@@e-shop.check-out.summary.title">
          Order summary
        </h5>
        <p class="card-text"></p>
        <p i18n="@@e-shop.check-out.summary.cart-products">
          You have {{ cart.quantity }} products in the cart.
        </p>

        <table class="table">
          <tbody>
            <tr *ngFor="let cartProduct of cart.cartProducts">
              <td>
                {{ cartProduct.quantity }} x {{ cartProduct.product.name }}
              </td>
              <td>
                <span class="float-right">{{
                  cartProduct.price | currency: "EUR"
                }}</span>
              </td>
            </tr>
            <tr class="font-weight-bold">
              <td i18n="@@e-shop.check-out.summary.table.body.total">Total</td>
              <td>
                <span class="float-right">{{
                  cart.price | currency: "EUR"
                }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<button
  class="btn btn-primary"
  (click)="placeOrder()"
  [disabled]="formShipping.invalid"
  i18n="@@e-shop.check-out.place-order"
>
  Place order
</button>
