<form *ngIf="formProduct" [formGroup]="formProduct">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="name" i18n="@@e-shop.admin-product.form.name">Name</label>
          <input
            id="name"
            class="form-control"
            type="text"
            formControlName="name"
            [class.is-invalid]="
              formProduct.get('name').touched && formProduct.get('name').invalid
            "
          />
        </div>

        <div class="form-group">
          <label for="price" i18n="@@e-shop.admin-product.form.price"
            >Price</label
          >
          <div class="input-group">
            <input
              id="price"
              class="form-control"
              type="number"
              min="0"
              formControlName="price"
              [class.is-invalid]="
                formProduct.get('price').touched &&
                formProduct.get('price').invalid
              "
            />
            <div class="input-group-append">
              <span class="input-group-text">€</span>
            </div>
          </div>
        </div>

        <label for="category" i18n="@@e-shop.admin-product.form.category"
          >Category</label
        >
        <div ngbDropdown class="form-group">
          <select
            id="category"
            class="custom-select"
            formControlName="category"
            [compareWith]="compareById"
            [class.is-invalid]="
              formProduct.get('category').touched &&
              formProduct.get('category').invalid
            "
          >
            <option
              *ngFor="let category of categories$ | async"
              [ngValue]="category"
            >
              {{ category.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="pictureUrl" i18n="@@e-shop.admin-product.form.picture-url"
            >Picture URL</label
          >
          <input
            id="pictureUrl"
            class="form-control"
            type="url"
            min="0"
            formControlName="pictureUrl"
            [class.is-invalid]="
              formProduct.get('pictureUrl').touched &&
              formProduct.get('pictureUrl').invalid
            "
          />
        </div>

        <button
          class="btn btn-primary mr-2"
          (click)="save()"
          [disabled]="formProduct.invalid"
          i18n="@@e-shop.admin-product.form.save"
        >
          Save
        </button>
        <button
          class="btn btn-secondary mr-2"
          [routerLink]="['/admin/products']"
          i18n="@@e-shop.admin-product.form.cancel"
        >
          Cancel
        </button>
        <button
          class="btn btn-danger"
          (click)="delete()"
          *ngIf="productId"
          i18n="@@e-shop.admin-product.form.delete"
        >
          Delete
        </button>
      </div>
      <div class="col">
        <div class="card">
          <img
            [src]="formProduct.get('pictureUrl').value"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">{{ formProduct.get("name").value }}</h5>
            <p class="card-text">
              {{ formProduct.get("price").value | currency: "EUR" }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
