<div *ngIf="products$">
  <div class="form-group form-inline">
    <div class="mr-auto">
      <input
        class="form-control"
        type="text"
        [formControl]="filter"
        placeholder="Search..."
        i18n="@@e-shop.admin-products.search"
      />
    </div>

    <button
      class="btn btn-primary"
      [routerLink]="['/admin/products/new']"
      i18n="@@e-shop.admin-products.new-product"
    >
      New product
    </button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" i18n="@@e-shop.admin-products.table.header.name">
          Name
        </th>
        <th scope="col" i18n="@@e-shop.admin-products.table.header.price">
          Price
        </th>
        <th scope="col" i18n="@@e-shop.admin-products.table.header.category">
          Category
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let product of products$
            | async
            | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize;
          index as i
        "
      >
        <td>{{ (page - 1) * pageSize + i + 1 }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price | currency: "EUR" }}</td>
        <td>{{ product.category.name }}</td>
        <td>
          <a
            [routerLink]="['/admin/products/', product.id]"
            i18n="@@e-shop.admin-products.table.body.edit"
            >Edit</a
          >
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="(products$ | async)?.length"
    ></ngb-pagination>

    <select
      class="custom-select"
      style="width: auto"
      name="pageSize"
      [(ngModel)]="pageSize"
    >
      <option
        *ngFor="let items of itemsPerPage"
        [value]="items"
        i18n="@@e-shop.admin-products.items-per-page"
      >
        {{ items }} items per page
      </option>
    </select>
  </div>
</div>
